  <div class="cards">
  <%= render 'card'%>
  <%= render 'card'%>
  <%= render 'card'%>
  <%= render 'card'%>
  <%= render 'card'%>
  <%= render 'card'%>
  <%= render 'card'%>
  <%= render 'card'%>
  <%= render 'card'%>
  <%= render 'card'%>
  <%= render 'card'%>
  <%= render 'card'%>
  </div>