<div class="container" style="margin-bottom: 50px">
  <%unless user_signed_in?%>
  <h1 class="text-center call-to-action">Browse through our wonderful selection of dimensions!</h1>
  <%end%>
  <div class="cards">
    <% @dimensions.each do |dimension| %>
      <%= link_to dimension do %>
        <div class="card-trip">
          
          <% if dimension.photo.present? %>
            <%= cl_image_tag(dimension.photo.key) %>
          <% end %>
            
          
          <div class="card-trip-infos">
            <div>
              <h2 class="card-trip-pricing">$ <%= dimension.price %></h2>
              <h2><%= dimension.name %></h2>
            </div>
            <div class="card-trip-user">
              <p><em><%= dimension.user.first_name %></em></p>
              <% if dimension.photo.present? %>
                <%= cl_image_tag(dimension.user.photo.key, options= {class: "avatar-small"}) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
