<div class="container" style="margin-bottom: 50px">
  <%unless user_signed_in?%>
  <h1 class="text-center call-to-action">Browse through our wonderful selection of dimensions!</h1>
  <%end%>
  <div class="cards">
    <% @dimensions.each do |dimension| %>
    <%= link_to dimension do %>
    <div class="card-trip">
      <%= cl_image_tag(dimension.photo.key) %>
      <div class="card-trip-infos">
        <div>
          <h2><%= dimension.name %></h2>
          <h2 class="card-trip-pricing">$ <%= dimension.price %></h2>
          <%# <p><%= dimension.description %></p>
        </div>
        <% if dimension.user.photo.attached? do %>
          <%= cl_image_tag(dimension.user.photo.key, options= {class: "card-trip-user avatar-small"}) %>
        <% end %>
        <p><em><%= dimension.user.first_name %></em></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
