<div class="container">
  <h1 class="text-center">Browse through the dimensions...</h1>
  <div class="cards">
    <% @dimensions.each do |dimension| %>
    <%= link_to dimension do %>
    <div class="card-trip">
      <img
        src= <%= dimension.photo %> />
      <div class="card-trip-infos">
        <div>
          <h2><%= dimension.name %></h2>
          <p><%= dimension.description %></p>
        </div>
        <h2 class="card-trip-pricing"><%= dimension.price %></h2>
        <img src=<%= dimension.user.photo %> class="card-trip-user avatar-small">
        <p><em><%= dimension.user.first_name %></em></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Create a new dimension', new_dimension_path, class: "button" %>