 <h1 class="text-center title">Your current dimension listings</h1>
 <div class="btn">Create a new dimension vacation!</div>
<%# ************ NOTE *********************** %>
<%# The class names are titled booking because this listing style is essentially %>
<%# the same as looking at your bookings %>
<%# ***************************************** %>
<div class="bookings-container">
 
  
  <% @dimensions.each do |dimension|%>
    
    <div class="booking-container"> 
 
      <div class="booking-info" style="width: 600px">
        <h2><%= dimension.name%></h2>
        <p><%= dimension.description %></p>
        <button class="btn"><%= link_to 'Edit Dimension', edit_dimension_path(dimension) %></button>
        <button class="btn"><%= link_to 'Remove Dimension', dimension_path(dimension), method: :delete, data: { confirm: 'Are you certain you want to delete this dimension?'} %></button>
      </div>


      <%= cl_image_tag dimension.photo.key, style: "height: 200px;width: 400px; object-fit:cover;background-color:#d4ccbd" %>
    </div>
 
  <%end%>
 
</div>

<%= link_to "back", dimensions_path %>