 <h1 class="text-center title">Your current dimension listings</h1>
 <%= link_to new_dimension_path do %>
<% end %>
<%# ************ NOTE *********************** %>
<%# The class names are titled booking because this listing style is essentially %>
<%# the same as looking at your bookings %>
<%# ***************************************** %>
<div class="container">
  <div class="btn">Create a new dimension vacation!</div>
  <br>
  
  <% @dimensions.each do |dimension|%>
    
    <div class="booking-container"> 
 
      <div class="booking-info" style="width: 600px">
        <h2><%= dimension.name%></h2>
        <p><%= dimension.description %></p>
        <button class="btn"><%= link_to 'Edit Dimension', edit_dimension_path(dimension) %></button>
        <button class="btn"><%= link_to 'Remove Dimension', dimension_path(dimension), method: :delete, data: { confirm: 'Are you certain you want to delete this dimension?'} %></button>
      </div>


      <%= cl_image_tag dimension.photo.key, 
          style: "height: 200px;width: 400px; object-fit:cover;background-color:#d4ccbd; border-radius:10px" %>
    </div>
 
  <%end%>
 
  <%= link_to "back", dimensions_path %>
</div>
