<div class="container">
 <%= simple_form_for @dimension do |f| %>
   <%= f.input :name %>
   <%= f.input :description %>
    
 <%= f.submit %>
 <% end %>
</div>

<button class="btn"><%= link_to "back to my listing", listings_path %></button>
