<div class="container" style="margin: 50px 0px;background-color:rgba(18,176,201,0.2);border-radius:10px;padding:10px 20px">

  <h1 class="call-to-action" style="text-align:right;margin-bottom:0px"><%= @dimension.name %></h1>
  
  <div style="display: flex;justify-content: space-between">

    <div class="seller" style="margin-right:20px">
      <%= link_to user_path(@dimension.user.id) do %>
        <%= cl_image_tag(@dimension.user.photo.key, options= {class: "avatar-large"}) %>
      <% end %>

      <p><strong>Seller:</strong><br>
      <em><%= @dimension.user.first_name %> <%= @dimension.user.last_name %></em></p>
      <br>
      <h1>$ <%= @dimension.price %></h1> 
    </div>

    <%= cl_image_tag @dimension.photo.key, style:"flex-grow:1; object-fit: cover;border-radius:30px 0px; background-color:#d4ccbd;height: 500px;"%>

  </div>

  <div style="border-top: solid 1px white;padding-top: 20px;margin-top: 50px; ">
      <h4>Description:</h4>
      <p><%= @dimension.description %></p>
  </div>

  <div style="display: flex;justify-content: space-between">
      <button class="btn"><%= link_to "Back", dimensions_path %>
      <button class="btn"><%= link_to "Book", new_dimension_booking_path(@dimension.id) %>
  </div>

</div>
