 <h1 class="text-center title">Here are all your bookings</h1>
 
<%# bookings container is going to hold all the bookings %>
<div class="container">
 
  <%# render each booking card %>
  <% @bookings.each do |booking|%>
    <%# this booking container is going to be a flexbox with info on the left & image on the right %>
    <div class="booking-container"> 
 
      <div class="booking-info"style="width: 600px">
        <h2>Booking for <%= booking.dimension.name%></h2>
        <p><%= booking.dimension.description %></p>
        <h4>Duration: <%= "#{booking.trip_duration} days" %></h4>
        <%# there will be an error below due to the path %>
        <h4>Total Price: <%= "$ #{booking.trip_duration * booking.dimension.price}" %></h4>
        <button class="btn"><%= link_to 'Cancel Booking', booking_path(booking.id), method: :delete, data: { confirm: 'Are you certain you want to delete this booking?'} %></button>
      </div>
 
 
      <%= cl_image_tag booking.dimension.photo.key, 
          style: "height: 200px;width: 400px; object-fit:cover;background-color:#d4ccbd; border-radius:10px" %>

    </div>
 
  <%end%>
  <h4 class="text-center title">Forever alone? 
        <u><b><em><%= link_to "Buy a Morty", "https://mortymarket.herokuapp.com/", target: "_blank" %></em></b></u> 
        and take him with you against his will!</h4>
<%= link_to "Back", dimensions_path, class: "btn" %>
</div>
