<div class="container" style="margin: 50px auto;background-color:rgba(18,176,201,0.2);border-radius:10px;padding:10px 20px">

  <h1 style="text-align:right">Hi! I'm <%= @user.first_name %> <%= @user.last_name %>.</h1>

  <div style="display: flex;justify-content: space-between">

    <div style="flex-grow:1">
        <p style="width:100%;padding:10px 0px;text-align: center;background-color:rgba(0,0,0,0.5)"><em><%= @user.bio %></em></p>

        <p>Visit my dimensions:</p>
        <ul style="list-style-type: none;margin: 0;padding: 0;">
            <% Dimension.where(user_id: @user.id).each do |dimension| %>
                <%= link_to dimension do %>
                    <li><i class="fas fa-meteor"></i> <%= dimension.name %></li>
                <% end %>
            <% end %>
        </ul>
    </div>
    
    <%# AVATAR IMG %>
    <div style="margin-left:50px">
        <div class="avatar-rotation">   
            <%= cl_image_tag(@user.photo.key, options= {class: "avatar-large"}) %>
        </div>
    </div>

</div>
<br>
<div style="display: flex;justify-content: space-between">
    <button class="btn"><%= link_to "Back", dimensions_path %>
</div>
