<div class="container">
    <div class="footer">
        <p>Made at <u><%= link_to "Le Wagon", "https://www.lewagon.com/" %></u> coding bootcamp by an insane Turbo Crew:</p>

        <div class="turbo-crew">
            <p>Bruno Talarico 
                <%= link_to "https://github.com/Talaric0" do %>
                        <i class="fab fa-github"></i>
                <% end%>
            </p>
            <p>Cássia Aveliz
            <%= link_to "https://github.com/cassiavepz" do %>
                <i class="fab fa-github"></i>
            <% end%>
            </p>
            <p>Saraah Bikaï
                <%= link_to "https://github.com/saraahbikai-dev" do %>
                        <i class="fab fa-github"></i>
                <% end%>
            </p>
            <p>Sebastian Viasus
                <%= link_to "https://github.com/seabass617" do %>
                        <i class="fab fa-github"></i>
                <% end%>
            </p>
        </div> 
    </div>
</div>
