<% if user_signed_in? %>

<div class="menu-bar">

  <%# navigation items %>
  <div class ="navigation">
    <ul id = "navigation-ul">
      
      <li class = "navigation-li"><%= link_to "home", root_path %></li>
      <li class = "navigation-li"><%= link_to "my bookings", bookings_path %></li>
      <li class = "navigation-li"><a href="#">my listings</a></li>
      
      
  <%# avatar %>
      <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-small dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <img src="https://res.cloudinary.com/cassiaveliz/image/upload/v1599165302/user_none.png" 
                  class="avatar-small" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% end %>

          <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View profile", user_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "Edit profile", edit_user_registration_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
      </li>
    </ul>
  </div>
</div>
<% else %>
  <li class="nav-item" id="login">
  <%= link_to new_user_session_path do %>
    <i class="fas fa-user-astronaut"></i> Login
  <%end%>
  </li>
<%end%>




